nav {
  background-color: grey;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #efefef;
}

main {
  flex: 1 0 auto;
}


.sidebar{
  /*margin-left: .3em;
  margin-right: .3em;*/
}

.content{
  background-color: #d7cec7;
}

.welcome {
  margin-left: 1em;
}

.media-icon{
  padding-right: .2em;
}


.icon {
  display: inline-block;;
  max-width: 2em;
  margin-bottom: -.5em;
}

.portfolio-item{
  margin-top: 3em;
  padding: .5em;
  background-color: #efefef;
  /*border: .25px black solid;*/
}

.button-image{
  max-width: 40em;
}

.footer-link {
  color: white;
}

#my-header{
  background-color: #9099a2;
}

#name {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .08em;
}

#brand {
  font-family: 'Roboto Condensed', sans-serif;
}


#my-footer{
  margin-top: 0;
  background-color: #9099a2;
}
